@clickbar:registry=https://registry.npmjs.org

# Disable this so that people can still use various versions in different projects, but we can still use the field
# so that GH Actions can get the version from this and people get a warning.
# https://pnpm.io/npmrc#package-manager-strict
package-manager-strict=false
